technologymalta.com {
    root * /srv
    file_server
    encode zstd gzip
}

# Optional: To automatically redirect HTTP to HTTPS, you can add the following:
http://technologymalta.com {
    redir https://technologymalta.com{uri}
}
